
:root {
--pacific-blue: #23a6c2ff;
--xiketic: #0d0221ff;
--citrine: #e0ca3cff;
--snow: #fffcffff;
--blue-sapphire: #28536bff;
}

html {
    box-sizing: border-box;
}
header {
    text-align: center;
    padding: 2rem;
    background-color: var(--pacific-blue);
    color: var(--citrine);
    
    height: auto;
}

h1 {
    padding-bottom: 4rem ;
}

main {
    background-image: linear-gradient(var(--pacific-blue), var(--snow));
    height: auto;
}

div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

input {
    margin: 3rem 0rem;
    text-align: center;  
}

button {
    background-color: var(--citrine);
    color: var(--xiketic);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
}

.row {
    flex-flow: row wrap;
}

.card {
    display: none;
    text-align: center;
    background-color: var(--blue-sapphire);
    color: var(--snow);
    border: 2px solid var(--citrine);
    border-radius: 1rem;
    margin: 1rem;
}

.input {
    
    padding: 1rem 0rem;
}

.input label {
    font-size: 2rem;
}